/*
 * Theme Name:  TMS Theme Amuri
 * Description: Tampere Multisite Amuri Theme
 * Version:     1.6.0
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-amuri
 */
