.blog-archive-info {
    .button-toggle {
        margin: $theme-spacing 0 !important;
        color: $link;
        font-size: 1.1rem !important;
        text-decoration: underline !important;
    }
}
