.page-template-page-events-search,
.page-template-page-events-calendar {
    h1 {
        margin-bottom: 0;
    }

    input[name="event_search_text"],
    .duet-date__input {
        padding: $theme-spacing-three-quarters !important;
        font-size: 1rem;

        @include from($desktop) {
            padding: $theme-spacing !important;
        }
    }

    button[type="submit"] {
        .icon {
            width: $theme-spacing !important;
            height: $theme-spacing !important;
        }
    }

    .events {
        &__search-form {
            margin-right: auto;
            margin-left: auto;
            max-width: 65rem;
        }

        &__item {
            color: $black;

            p {
                line-height: 168%;
            }

            .h5 {
                font-weight: $weight-medium;
                text-transform: none;
            }
        }

        &__item-inner {
            @include from($desktop) {
                padding-right: $theme-spacing;
                padding-left: $theme-spacing;
                border: 1px solid $color-amuri-yellow;
            }
        }

        &__meta {
            font-size: 1.25rem;
            letter-spacing: .06rem;
        }
    }
}
