.site-header-notice {
    button {
        &.is-primary-invert {
            border-color: $white !important;

            &:hover,
            &:focus {
                border-color: $white !important;
            }
        }

        &:focus,
        .is-focus {
            outline: .125rem dotted $white !important;
        }
    }
}
