.image-block {
    &__caption {
        a {
            text-decoration: underline;
        }
    }

    .image {
        img {
            width: auto;
            max-height: $image-max-height;
        }
    }
}
