.link-list {

    .layout-badge {
        top: 0;
        @include from($desktop) {
            top: 175px;
        }
        
        &.align-before {    
            transform: translateX(-10%) translateY(-30%);

            @include from($desktop) {
                left: 0;
                transform: translateX(-80%) translateY(-50%);
            }
        }
    
        &.align-after {
            transform: translateX(10%) translateY(-30%);

            @include from($desktop) {
                right: 0;
                transform: translateX(80%) translateY(-50%);
            }
        }
    }

}
