@import "functions";

// All Tampere brand colors
$color-white: #ffffff;
$color-black: #000000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-amuri-coffee: #4f4746;
$color-amuri-green: #687e5e;
$color-amuri-dark-yellow: #dda147;
$color-amuri-yellow: #e6bf64;
$color-amuri-grey-blue: #a6bbc4;
$color-amuri-brown: #beb4a3;
$color-amuri-red: #ce7d81;
$color-amuri-creme: #f6f4e1;
$color-amuri-orange: #df7b2a;
$color-tekstin-vari: #4f4746;

$color-ui-border: #414141;
$color-taide-dark: #0D0D0D;
$color-gray: #a6a7ac;

$color-vaalean-harmaa: #A6A7AC;
$color-ui-border: #414141;
$color-taide-dark: #0D0D0D;
$color-gray: #a6a7ac;
$color-ui-border-light: #767676;
$color-gray: #a6a7ac;
$color-taide-dark: #0D0D0D;

$color-vaalean-harmaa: #A6A7AC;
$color-tumma-harmaa: #585857;
